<div class="header-wrapper">
    <div class="header-left">
        <div class="header-logo">
            <img src="assets/new-icons/logo.PNG" />
        </div>
    </div>
    <div class="header-right">
        <div class="username">
            <span *ngIf="!userInfo.userName"> Login </span>
            <span *ngIf="userInfo.userName"> Welcome {{userInfo?.userName}} </span>
        </div>
        <div class="divider"> | </div>
        <div class="settings">
            <mat-icon>settings</mat-icon>
        </div>
        <div class="user-profile">
            <mat-icon>account_circle</mat-icon>
        </div>
    </div>
</div>